---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
